body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: white;
    text-align: center;
    padding: 20px;
}

#search-container {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
}

#search-input, #search-button, #genre-dropdown {
    padding: 10px;
    border: none;
    border-radius: 5px;
    margin: 5px;
    font-size: 16px;
}

#search-input {
    width: 250px;
}

#search-button, #genre-dropdown {
    background-color: #ff3d00;
    color: white;
    cursor: pointer;
}

#movie-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}

.movie-card {
    background-color: #222;
    border-radius: 10px;
    padding: 10px;
    text-align: center;
    transition: transform 0.3s;
}

.movie-card img {
    width: 100%;
    border-radius: 10px;
}

.movie-card h3 {
    font-size: 18px;
    margin: 10px 0;
}

.trailer-btn {
    display: inline-block;
    margin-top: 10px;
    padding: 8px 12px;
    background-color: #ff3d00;
    color: white;
    text-decoration: none;
    border-radius: 5px;
}

.movie-card:hover {
    transform: scale(1.05);
}
#favorites-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 20px;
    padding: 20px;
}
.favorite {
    border: 2px solid gold;
}
